[submodule "test/jam-test-vectors"]
	path = test/jam-test-vectors
	url = https://github.com/davxy/jam-test-vectors.git
[submodule "test/pvm-test-vectors"]
	path = test/pvm-test-vectors
	url = https://github.com/koute/jamtestvectors.git
[submodule "test/w3f-test-vectors"]
	path = test/w3f-test-vectors
	url = https://github.com/w3f/jamtestvectors
[submodule "3rdparty/msquic"]
	path = 3rdparty/msquic
	url = https://github.com/sierkov/msquic.git
