name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Build docker image
        run: docker build -t turbojam:test -f Dockerfile.test .
      - name: Run unit tests
        id: tests
        run: |
          docker rm -f test-container 2>/dev/null || true
          docker run --name test-container turbojam:test sh ./test/gen-coverage.sh
      - name: Copy coverage
        id: tests-copy-cov
        run: docker cp test-container:/home/dev/turbojam/tmp/coverage ./coverage-html
      - name: Delete the test container
        id: tests-rm
        run: docker rm test-container
      - name: Upload coverage HTML
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: ./coverage-html
      - name: Set badge color on success
        if: steps.tests.outcome == 'success'
        run: |
          echo "color=brightgreen" >> $GITHUB_OUTPUT
          echo "result=passing" >> $GITHUB_OUTPUT
      - name: Set badge color on failure
        if: steps.tests.outcome != 'success'
        run: |
          echo "color=red" >> $GITHUB_OUTPUT
          echo "result=failing" >> $GITHUB_OUTPUT